.cuadro1,
.cuadro2,
.cuadro3,
.cuadro4,
.cuadro5{
    width: 300px;
    height: 300px;
    background-color: plum;
    color: white;
}
.cuadro2{
    background-color: blueviolet;
}
.cuadro3{
    background-color: pink;
}
.cuadro4{
    background-color: palevioletred;
}
.contenedor{
    width: 100%;
    height: auto;
    display: flex;
}
/*medidas celular en vertical*/
@media (max-width:576px) {
    .contenedor{ 
        width:100%;
        height: auto;
        background-color: gray;
        display: flex;
        flex-direction: column-reverse;
    }
   
}
/*medidas celular en horizontal y tablets*/
@media (min-width:577px)and(max-width:1024px) {
    .contenedor{
        flex-direction: row;
        flex-wrap: wrap;
    }

}
/*medidas computadores portatiles*/
@media (min-width:1025px)and(max-width:1200px) {
    .contenedor{
        width: 80%;
        margin: 0 auto;
    }
    .cuadro1,
    .cuadro2,
    .cuadro3,
    .cuadro4{
        border-radius: 50%;
    }

    
}
